@import "./variables.scss";
@import "./responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  color: $main-color;
}

.container {
  display: flex;
}

.menuContainer {
  background-color: $main-bg;
  width: 250px;
  padding: 0px 20px;

  @include lg {
    width: max-content;
  }
}

.contentContainer {
  background-color: $dark-bg;
  padding: 0px 20px;
  width: 100%;
  height: calc(100vh);
  overflow: auto;
}
