@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  color: $main-color;
}

.container {
  display: flex;
}

.menuContainer {
  background-color: $main-bg;
  width: 250px;
  padding: 5px 20px;
}

.contentContainer {
  background-color: $dark-bg;
  padding: 5px 20px;
  width: 100%;
  height: calc(100vh);
  overflow: auto;
}
