@import "../../styles/variables.scss";

.dataTable {
  .dataGrid {
    background: $main-bg;
    padding: 20px;
    border: none;
    color: $main-color;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    .MuiInput-root {
      color: $main-color;

      &::before {
        border-color: $soft-bg;
      }

      &:hover:before {
        border-color: $main-color;
      }
      &::after {
        border-color: #86a4ff;
      }
    }

    .MuiButton-root {
      color: #86a4ff;
    }

    .MuiSvgIcon-root {
      fill: $main-color;
    }

    .MuiTablePagination-root {
      color: $soft-color;
    }

    .MuiDataGrid-cell:focus {
      outline: none;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &.view {
          fill: #86a4ff;
        }
        &.edit {
          fill: limegreen;
        }
        &.delete {
          fill: tomato;
        }
      }
    }
  }
}
