@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menuItem {
  position: relative;

  .listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: $soft-bg;
    }

    .listItemTitle {
      @include lg {
        display: none;
      }
    }
  }
}
