@import "../../styles/variables.scss";

.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    .brand {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 5px;
      padding: 20px;
      margin-bottom: 10px;

      img {
        height: 30px;
        width: 30px;
      }

      span {
        font-size: 18px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;

      .title {
        font-size: 12px;
        font-weight: 200;
        color: $soft-color;
        text-transform: uppercase;
      }

      .listItem {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          background-color: $soft-bg;
        }
      }
    }
  }

  .logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

    &:hover {
      background-color: $soft-bg;
      cursor: pointer;
    }
  }
}
